* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, sans-serif;
  font-size: @font-size-base;
  color: @text-color;
  background-color: #f7f7f7;
  line-height: 1.5;
  text-size-adjust: 100%;
  height: 100%;
  font-weight: 100;
}

body {
  margin: 0;
  height: 100%;
}

nav,
main,
footer,
header {
  display: block;
}

img {
  border: 0;
}

a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: @link-color;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}


h1,
h2,
h3 {
  color: @text-color;
  margin: 24px 0 12px;
  line-height: 1;
  font-weight: 400;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

code {
  font-weight: normal;
  font-size: @font-size-base - 1;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  background-color: rgba(0, 0, 0, .05);
  color: #c20077;
  padding: 2px 4px;
}